<form class="" action="/events/<%@event.id%>/update" method="post">
  <input id=hidden type="hidden" name="_method" value="patch">

<input type="text" name="name" value="">

  <h3><input type="text" name="name" value="<%=@event.name%>"></h3>
  <p><input type="text" name="name" value="<%=@event.location%>"></p>
  <p><input type="text" name="name" value="<%=@event.date%>">,input type="text" name="name" value="<%=@event.time%>"></p>
  <p><input type="text" name="name" value="<%=@event.description%>"><%=@event.description%></p><%#binding.pry%>
  <%if @event.category_id %><p><strong><%=@event.category.name  %></strong></p><%end%>


  <input type="submit" name="" value="Edit Event">
</form>
