<form class="" action="/events/<%=@event.id%>/update" method="post">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
  <input id=hidden type="hidden" name="_method" value="patch">

  <h3>Event Name: <input type="text" name="name" value="<%=@event.name%>"></h3>
  <p>Location: <input type="text" name="location" value="<%=@event.location%>"></p>
  <p>Date and Time: <input type="date" name="date" value="<%=@event.date%>">, <input type="time" name="time" value="<%=@event.time.to_s.split[1]%>"></p>
  <p>Description <em>(Optional)</em><input type="text" name="description" value="<%=@event.description%>"><%=@event.description%></p><%#binding.pry%>
  <%if @event.category_id %><p><strong><%=@event.category.name  %></strong></p><%end%>


  <input type="submit" name="" value="Edit Event">
</form>
