<h3>Welcome, <%= @user.username %></h3>
<p>You have created <%=@user.events.length %> events.</p>

<%@user.events.each do |event|%>
<p><strong><%=event.name%></strong></p>
<p><%=event.location%></p>
<p><%=event.date, event.time%></p>
<%end%>
</br>
